
:root {
	--mdc-theme-primary: #0C31B2;
	--mdc-theme-primary-light: #4F69B2;
	--mdc-theme-primary-dark: #082EA3;
	--mdc-theme-secondary: #FF4E1D;
	--mdc-theme-primary-light: #FF987E;
	--mdc-theme-primary-dark: #8F1D00;
}